<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1>Clientes</h1>



<%= form_for(@clientes) do |f| %>
  <div>
    <h2>Nuevo Cliente</h2>
    <p>Nombre: <%= f.text_area(:nombre, size: "30x1") %></p>
    <p>CUIT: <%= f.text_area(:cuit, size: "30x1") %></p>
    <p>Dirección: <%= f.text_area(:direccion, size: "30x1") %></p>
    <p>Localidad: <%= f.text_area(:localidad, size: "30x1") %></p>
    <p>Provincia: <%= f.text_area(:provincia, size: "30x1") %></p>
    <p>Codigo Postal: <%= f.text_area(:codigo_postal, size: "30x1") %></p>
    <p>Limite Credito: <%= f.number_field(:limite_credito) %></p>
    <p>Telefono <%= f.telephone_field(:telefono) %></p>
    <p>Celular: <%= f.telephone_field(:celular) %></p>
    <p>Email: <%= f.email_field(:email) %></p>
  </div>
  <div>
    <%= f.submit "Guardar" %>
  </div>
<% end %>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
