<h1>Editar Maquina</h1>

<%= form_for :maquina, url: maquina_path(@maquina), method: :patch do |f| %>

  <% if @maquina.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@maquina.errors.count, "error") %> prohibited this article from being saved:
      </h2>
      <ul>
        <% @maquina.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <p>
    <%= f.label :num_serie %><br>
    <%= f.text_field :num_serie %>
  </p>

  <p>
    <%= f.label :contador %><br>
    <%= f.number_field :contador %>
  </p>

  <p>

<%= f.radio_button 'estado', '0' %><%= f.label :estado ,'Stock' %><br />
<%= f.radio_button 'estado', '1' %><%= f.label :estado ,'Alquilada' %><br />
<%= f.radio_button 'estado', '2' %><%= f.label :estado ,'Vendida' %><br />
<%= f.radio_button 'estado', '3' %><%= f.label :estado ,'Scrap' %><br />
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %> 
 
<%= link_to 'Back', maquinas_path %>
