<h1>Nueva maquina</h1>
<%= form_for :maquina do |f| %>
  <p>
    <%= f.label :num_serie %><br>
    <%= f.text_field :num_serie %>
  </p>
 
  <p>
    <%= f.label :contador %><br>
    <%= f.number_field :contador %>
  </p>
 
  <p>

<%= f.radio_button 'estado', '0' %><%= f.label :estado ,'Stock' %><br />
<%= f.radio_button 'estado', '1' %><%= f.label :estado ,'Alquilada' %><br />
<%= f.radio_button 'estado', '2' %><%= f.label :estado ,'Vendida' %><br />
<%= f.radio_button 'estado', '3' %><%= f.label :estado ,'Scrap' %><br />
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
